{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/conversation.css' %}">
{% endblock css %}

{% block content %}
    <h1>Conversations</h1>
    <ul class="conversations-list">
        {% for conversation in conversations %}
            <li class="conversation">
                <a href="{% url 'chat' conversation.user.id %}" class="conversation-link">
                    <div class="conversation-header">
                        <h2 class="conversation-username">{{ conversation.user.username }}</h2>
                        {% if conversation.last_message %}
                            <p class="conversation-last-message">{{ conversation.last_message.content }}</p>
                        {% else %}
                            <p class="conversation-no-message">No messages yet</p>
                        {% endif %}
                    </div>
                    <div class="conversation-timestamp">
                        {% if conversation.last_message %}
                            {{ conversation.last_message.timestamp|date:'D, d M Y H:i' }}
                        {% endif %}
                    </div>
                </a>
            </li>
        {% empty %}
            <li class="no-conversations">
                <p>No conversations yet</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
